# X Server needs to open /dev/tty1 RW on startup. Right now TTYs are
# set to group write only. When X server will be started as xorg user
# which belongs to tty group, we need tty1 to be group RW. We also
# set tty2 because in some test scenarios X server can run on it.

SUBSYSTEM=="tty", KERNEL=="tty[1-2]", GROUP="tty", MODE="0660"
