# Copyright 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

ACTION=="add|change", SUBSYSTEM=="block", KERNEL=="sr[0-9]*", ATTRS{idVendor}=="22b8", ATTRS{idProduct}=="710f", RUN+="/usr/bin/eject $tempnode"
