# Copyright 2019 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Set IO scheduler to bfq if supported.
# Otherwise stick with the default scheduler.
ACTION=="add|change", ATTR{queue/scheduler}=="*bfq*", \
			KERNEL=="sd[a-z]|mmcblk[0-9]|nvme[0-9]n[0-9]", \
			ATTR{queue/scheduler}="bfq"
