ACTION=="add", SUBSYSTEM=="iio", ATTR{name}=="sx9310|sx9311|sx932x|cros-ec-mkbp-proximity", \
ATTR{label}=="proximity-*" \
  SYMLINK+="%s{label}" \
  GROUP="power"
