KERNEL=="mali0", MODE="0660", GROUP="video"
ACTION!="add", GOTO="media_end"
SUBSYSTEM!="video4linux", GOTO="v4l_end"

# New name in upstream kernel since v5.8
ATTR{name}=="rkvdec", SYMLINK+="video-dec0"
# Old name in ChromeOS v4.4 kernel
ATTR{name}=="rockchip,rk3399-vdec-dec", SYMLINK+="video-dec0"
# Other names unchanged
ATTR{name}=="rockchip,rk3399-vpu-dec", SYMLINK+="video-dec1"
ATTR{name}=="rockchip,rk3399-vpu-enc", SYMLINK+="video-enc0"
ATTR{name}=="rockchip,rk3399-vpu-enc", SYMLINK+="jpeg-enc"

LABEL="v4l_end"

SUBSYSTEM!="media", GOTO="media_end"

ATTR{model}=="rkvdec", SYMLINK+="media-dec0"
ATTR{model}=="hantro-vpu", SYMLINK+="media-dec1"

LABEL="media_end"
