# Pen eject shouldn't wake system when lid is closed.
SUBSYSTEM=="input", DRIVERS=="adc_keys", ENV{POWERD_TAGS_USABLE}="usable_when_laptop usable_when_tablet usable_when_display_off", ENV{POWERD_TAGS_WAKEUP}="wakeup wakeup_only_when_usable"
